


<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
        <!-- &nbsp -->
        <p clas="text-info bg-dark">{{this.user.user.lastName}}  {{this.user.user.firstName}} שלום </p>
 

      <div class="dropdown text-end" class="position-absolute top-20 start-1000 ">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<body>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <mat-accordion><mat-card class="card">
        <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-card-title>שיעור ראשון</mat-card-title>
        </mat-panel-title>
        <mat-panel-description>
          <mat-card-subtitle>10/08/2020</mat-card-subtitle>
        </mat-panel-description>
      </mat-expansion-panel-header>   
      <mat-card-content>
        <p>I'm visible because I am open</p>
        <div class="example-button-container">
        <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
          <mat-icon>open_in_new_off</mat-icon>
        </button>
        </div>
      </mat-card-content>
    </mat-expansion-panel>    
</mat-card>
</mat-accordion>


</div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card>
</div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card></div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card>
</div>
</div>
</body>
