<header class="p-3 text-white bg-main-color">
  <nav class="navbar navbar-expand bg-main-color">

    <div class="container">
   
        <p class="text-light-color">
          שלום {{ this.user.user.firstName }} {{ this.user.user.lastName }}
        </p>
        <img class="navbar-logo-img" alt="Clear Talk" src="../../assets/pictures/logo-with-bg.png">
    </div>
  </nav>
</header>

<body>
  <button
    mat-raised-button
    color="primary"
    *ngIf="this.selectedLesson"
    (click)="diselect()"
  >
    תצוגת תקיות
  </button>

  <div id="wrapper" class="toggled" *ngIf="this.selectedLesson">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div style="width: 380px">
        <mat-selection-list
          (selectionChange)="
            selectLesson(lessonsLst.selectedOptions.selected[0]?.value)
          "
          #lessonsLst
          [multiple]="false"
        >
          <mat-list-option
            *ngFor="let lesson of this.lessons"
            [value]="lesson"
            [ngClass]="
              lesson.lessonDescription == selectedLesson.lessonDescription
                ? 'list-group-item list-group-item-action list-group-item-primary'
                : 'list-group-item list-group-item-action list-group-item-light'
            "
          >
            {{ lesson.lessonDescription }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div>
      <div>
        <mat-card class="card-lesson">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title> מה נלמד היום? </mat-card-title>
              <mat-card-subtitle>
                {{ this.selectedLesson.date |date:'dd/MM/yyyy' }}</mat-card-subtitle
              >
              <mat-card-subtitle>
                 רמת הקושי: <b>{{ this.selectedLesson.difficultyLevelName }}</b></mat-card-subtitle
              >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p>{{ this.selectedLesson.lessonDescription }}</p>
          </mat-card-content>

                    <div *ngFor="let word of this.LessonWords">
                      <p-accordion>
                        <p-accordionTab header={{word.wordText}}>
                           {{word.score}}
                        </p-accordionTab>

                    </p-accordion>
                    </div>
                   <mat-card-footer>
                     <div *ngIf="this.selectedLesson.weightedScore"><p> הציון שלך : {{this.selectedLesson.weightedScore}}</p></div>
                      <mat-action-row>
                    <button mat-raised-button color="primary" (click)="startExercise()">התחל תרגול</button>
                    <button mat-raised-button color="primary" (click)="startExercise2()">התחל תרגול</button>

                  </mat-action-row>
                    </mat-card-footer>

                </mat-card>
              </div>
           </div>
          </div>

  <!-- תצוגת תקיות -->

  <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="!this.selectedLesson">
    <div class="col" *ngFor="let lesson of this.lessons; let i = index">
      <mat-card class="card-show bg-light-color">
        <div (click)="selectLesson(lesson)" class="top-item">
          <mat-card-title>{{ i + 1 }} שיעור</mat-card-title>
          <p-tag [hidden]="lesson.isDone" value="עדיין לא נעשה"></p-tag>
        </div>
        <mat-card-subtitle>{{ lesson.date |date:'dd/MM/yyyy' }}</mat-card-subtitle>
        <div *ngIf="lesson.isChecked">
          <mat-card-subtitle
            >{{ lesson.weightedScore }} :ציון
          </mat-card-subtitle>
        </div>
        <div *ngIf="!lesson.isChecked">
          <mat-card-subtitle> לא נבדק עדיין </mat-card-subtitle>
        </div>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="text-main-color"> ?מה עשינו בשיעור </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{ lesson.lessonDescription }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>
