<body>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card>
</div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card>
</div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card></div>

<div class="col">
<mat-card class="card">

    <mat-card-title>שיעור ראשון</mat-card-title>
    <mat-card-subtitle>10/08/2020</mat-card-subtitle>
    <mat-divider></mat-divider>
   <mat-card-content>
       <br>
       hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
   </mat-card-content>

<div class="example-button-container">
  <button mat-fab color="primary" aria-label="icon button with a open_in_new_off icon">
    <mat-icon>open_in_new_off</mat-icon>
  </button>
</div>
</mat-card>
</div>
</div>
</body>


<!-- 

<div class="row">
                    
    <div class=" col-lg-10  col-md-12">
<section id="subsection-simple">

    <h4 class="mt-5">Simple</h4>


    <p></p>


    <section class="pb-4">
<div class="bg-white border rounded-5">
  
    <section class="p-4 d-flex justify-content-center bg-light">
      <div class="card" style="max-width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <button type="button" class="btn btn-primary">Button</button>
        </div>
      </div>
    </section>

</div>




<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/041.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/042.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/043.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/044.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div> -->
