

<header class="p-3 bg-main-color text-white">
  <nav class="navbar navbar-expand "> 
    <div>
      רמת הקושי: <b>{{ this.difficultyLevelName }}</b></div
   >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <!-- <p class="text-info">שלום פלוני אלמוני</p> -->
          <div [style.background-color]="currentWord == word? '#e2e9ff' : 'white'" 
          [style.color]="currentWord == word? 'black' : 'rgb(125, 144, 163)'"
            class="words" *ngFor="let word of LessonWords">
            {{word.wordText}}
          </div>
      </div>
    </div>
  </nav>
</header>

<body class="bg-exercise-page"> 
  
  <button pButton 
          pRipple 
          type="button" 
          label="לכל השיעורים" 
          class="p-button-rounded p-button-primery" 
          (click)="allLessons()"
  >
  </button>

    <!-- <div class="container">
      <div class="words" *ngFor="let word of LessonWords">
        {{word.wordText}}
      </div>
    </div> -->
  <div class="container">    
      
    <!-- חץ ימינה -->
    <button pButton 
            pRipple 
            type="button" 
            icon="pi pi-chevron-right"
            class="p-button-rounded p-button-secondary p-button-outlined" 
            (click)="moveRight()" 
    >
    </button>

    <mat-card class="bg-light-color" style="max-height: 170px;">
      <app-word [lessonWord]="currentWord" [wordNumber]="(curentWordIndex)" [allWordsNumber]="(LessonWords.length)"></app-word>
    </mat-card>

    <!-- חץ שמאלה -->
    <button pButton 
            pRipple 
            type="button" 
            icon="pi pi-chevron-left"
            class="bg-light-color p-button-rounded p-button-secondary p-button-outlined" 
            (click)="moveLeft()" 
    >
    </button>

  </div>
     
</body>
