.container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
}

.mat-card{
    margin-top: 5px;
    width: 30%;
    height: 60%;

    background-color: white;
    padding: 2.1%;
    border-radius: 34px;
    min-width: 20rem;
    min-height: 30rem;
}

.p-button-rounded{
    margin: 10px;
}

.words{
    float: left;
    margin: 0 20px 0 0;
    border-radius: 15px;
    /* background-color: white; */
    text-align: center;
    min-width: 80px;
    height: 30px;
    color: rgb(125, 144, 163);
    font-size: large;
}

.mat-card{
background-color:#e2e9ff ;
}
