

<header class="p-3 bg-dark text-white">
    <nav class="navbar navbar-expand navbar-dark bg-dark"> 

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
        </button>
  
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
  
          <!-- <p clas="text-info bg-dark">{{this.user.user.lastName}}  {{this.user.user.firstName}} שלום </p> -->
          <p class="text-info bg-dark">שלום פלוני אלמוני</p>

      </div>
    </div>
  </nav>
</header>

  <body>

    <button pButton pRipple type="button" label="לכל השיעורים" class="p-button-rounded p-button-primery">

    </button>

    <div class="container">

      <!-- חץ ימינה -->
      <button pButton 
              pRipple 
              type="button" 
              icon="pi pi-chevron-right"
              class="p-button-rounded p-button-secondary p-button-outlined" 
              (click)="moveRight()" 
      >
      </button>

      <mat-card >
        <app-word [lessonWord]="currentWord" [wordNumber]="(curentWordIndex)" [allWordsNumber]="(LessonWords.length)"></app-word>
      </mat-card>

      <!-- חץ שמאלה -->
      <button pButton 
              pRipple 
              type="button" 
              icon="pi pi-chevron-left"
              class="p-button-rounded p-button-secondary p-button-outlined" 
              (click)="moveLeft()" 
      >
      </button>

    </div>
     
  </body>
