<div class="container">


  <!-- טבלה ראשית -->
  <div class="table-div" *ngIf="selectedPatient==undefined||selectedPatient==null">


    <mat-form-field appearance="standard">
      <mat-label>חיפוש מטופל</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="הכנס מילה לחיפוש" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- f name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> שם </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

        <!-- l name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> משפחה </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <!-- identityNumber Column -->
        <ng-container matColumnDef="identityNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ת.ז. </th>
          <td mat-cell *matCellDef="let row"> {{row.identityNumber}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> דוא"ל </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> טלפון </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <!-- dateOfBirth Column -->
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> גיל </th>
          <td mat-cell *matCellDef="let row"> {{this.calculateAge(row.dateOfBirth)}} </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row==selectedPatient?'example-element-row-choosed':'example-element-row'" (click)="selectPatient(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

  <!-- טבלה צידית  -->
  <div *ngIf="selectedPatient!=undefined">
    <div class="right-table-div">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- f name Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> שם </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName+" "+row.lastName}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="rightDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: rightDisplayedColumns;" [ngClass]="row==selectedPatient?'example-element-row-choosed':'example-element-row'"   (click)="selectPatient(row)"></tr>
        </table>

      </div>
    </div>

    <!-- תצוגת שיעורים למטופל ספציפי -->
    <div class="left">
      <ul>
        <button mat-stroked-button (click)="openAddLessonDialog()">
          <mat-icon>add</mat-icon>
        </button>


        <li *ngFor="let lesson of selectedPatientLessons">
          <button mat-button (click)="selectLesson(lesson)">לבחירת השיעור</button>
          <button mat-button (click)="deleteLesson(lesson)">למחיקת השיעור</button>
          <div>{{lesson.date}}</div>
          <div>{{lesson.lessonDescription}}</div>
          <mat-checkbox value="lesson.isChecked"></mat-checkbox>
          <button mat-button (click)="updateLesson(lesson)">לעריכת השיעור</button>
          <ul *ngIf="selectedLesson==lesson">
            <li *ngFor="let word of selectedLessonWords">
              <span>{{word.wordText}}</span>
              <span>{{word.score}}</span>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>


  <p-tag value="New" icon="pi pi-plus"></p-tag>
</div>





<!-- דיאלוג לעדכון -->

<p-dialog [(visible)]="displayLessonDialogToUpdate" [style]="{width: '60%'}" header="עדכון שיעור והוספת מילים"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="p-formgrid p-grid">

      <div class="p-field p-col">
        <p-inplace [closable]="true">
          <ng-template pTemplate="display">
            <label for="date"> : השיעור התקיים בתאריך{{selectedLesson.date.toLocaleString()}}</label>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="p-field p-col">
              <label for="date"> :השיעור התקיים בתאריך</label>
            </div>
            <p-calendar placeholder="בחר תאריך אחר" [showIcon]="true" class="input-edit" id="date" [(ngModel)]="selectedLesson.date"></p-calendar>
          </ng-template>
        </p-inplace>
      </div>

    </div>
    <div class="p-formgrid p-grid">

      <div class="p-field p-col">
        <p-inplace [closable]="true">
          <ng-template pTemplate="display">
            <label for="level">{{selectedLesson.difficultyLevelName}} :רמת השיעור</label>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="p-field p-col">
              <label for="level"> :רמת השיעור</label>
            </div>
            <p-dropdown #selection [options]="difficultyLevelsOfSelectedPatient" placeholder="בחר רמת קושי"
              [virtualScroll]="true" optionLabel="difficultyLevel" (onChange)="updateLevelToLesson(selection.value)">
            </p-dropdown>
          </ng-template>
        </p-inplace>
      </div>
    </div>
    <div class="p-formgrid p-grid">

      <p-inplace [closable]="true">
        <ng-template pTemplate="display">
          <div class="p-field p-col">
            <label for="description"> מה עשינו בשיעור? </label>
          </div>
          <div class="p-field p-col">
            <p id="description">{{selectedLesson.lessonDescription}}</p>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="p-field p-col">
            <label for="description"> מה עשינו בשיעור? </label>
          </div>
          <div class="p-field p-col">
            <textarea id="description" pInputTextarea [(ngModel)]="selectedLesson.lessonDescription" required rows="2"
              cols="20"></textarea>
          </div>
        </ng-template>
      </p-inplace>
    </div>

    <div *ngIf="selectedLessonWordsToShow!.length>0">
    <p-divider align="left" type="dashed">
      <div class="inline-flex align-items-center">
        <b> המילים שלנו הפעם: </b>
      </div>
    </p-divider>
    <div class="p-formgrid p-grid">
      <p-chip *ngFor="let word of selectedLessonWordsToShow" [label]="word.wordText" [removable]="true"
        (onRemove)="removeWordFromLesson(word.id)"></p-chip>
    </div>
    <p-divider align="center">
      <div class="inline-flex align-items-center">
        <b> רוצה להוסיף עוד מילים?</b>
      </div>
    </p-divider>
</div>

<p-divider *ngIf="!selectedLessonWordsToShow||selectedLessonWordsToShow.length==0" align="center">
  <div class="inline-flex align-items-center">
    <b>הוספת מילים </b>
  </div>
</p-divider>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="levelSelection"> בחירת מילים מרמה:</label>
        <p-dropdown id="levelSelection" [options]="difficultyLevelsOfSelectedPatient" [virtualScroll]="true"
          (onChange)="getWordsForLevel(selectedLevel.id);" [(ngModel)]="selectedLevel"
          placeholder="בחר רמת קושי" optionLabel="difficultyLevel" [style]="{'width':'10rem'}">
        </p-dropdown>
      </div>
      <div class="p-field p-col">
        <p-listbox [options]="levelWords" [(ngModel)]="selectedLessonWordsToShow" [metaKeySelection]="false" [checkbox]="true"
          [filter]="true" [multiple]="true" optionLabel="wordText" optionLabel="Word"
          [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
          <ng-template let-word pTemplate="item">
            <div class="item">
              <div>{{word.wordText}}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>



  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="ביטול" icon="pi pi-times" class="p-button-text"
      (click)="displayLessonDialogToUpdate=false"></button>
    <button pButton pRipple label="אישור" icon="pi pi-check" class="p-button-text"
      (click)="finishUpdateLesson()"></button>
  </ng-template>
</p-dialog>

<!-- דיאלוג הוספת שיעור חדש  -->
<p-dialog header="הוספת שיעור" [(visible)]="displayLessonDialog" [style]="{width: '50vw'}">

  <form [formGroup]="lessonForm" class="example-form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>תאריך</mat-label>
      <input formControlName="date" type="date" matInput value="{{today}}" [errorStateMatcher]="matcher">

      <mat-error>
        תאריך <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <br /><br />


    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select formControlName="level" [(value)]="selectedLevel">
        <mat-option class="front" *ngFor="let level of difficultyLevelsOfSelectedPatient;" [value]="level">
          {{level.difficultyLevel}} רמה </mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>תיאור</mat-label>
      <textarea #input matInput maxlength="300" formControlName="description" matInput placeholder="תיאור השיעור"
        [errorStateMatcher]="matcher"></textarea>
      <mat-hint align="start">{{input.value?.length || 0}}/300</mat-hint>
      <mat-error>
        על תיאור השיעור להכיל לפחות 15 תוים
      </mat-error>
    </mat-form-field>
    <br><br>

  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="addLesson()" label="אישור" [disabled]="!lessonForm.valid"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
