table {
    width: 100%;
    text-align: center;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 16%;
  }

  .table-div{

    text-align: center;
    position: absolute;

  }

  th.mat-header-cell {
    text-align: center;
}

tr.example-element-row:hover {
  background: rgb(222, 236, 251);
}

tr.example-element-row-choosed {
  background: rgb(132, 176, 223);
}

.container{
  margin: 10px;
  padding: 10px;
  position: relative;

}
.right-table-div{

  max-width: 20%;
  width: fit-content;
  text-align: center;
  position: absolute;

}
.left{
  position: absolute;
  right: 20%;
}

.lesson-form {
  min-width: 150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  direction: rtl;
}

.example-label{
  text-align: right;
}

.front{
  z-index: 5;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}

/* unsuful for now */

 /* .p-inputtext{
  border-style: none;
  background: none;
  box-shadow: none;
} */

.input-edit{
  border-style: none;
  background: none;
  box-shadow: none;
}

