table {
    width: 100%;
    text-align: center;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 16%;
  }

  .table-div{
    margin-left: auto;
    margin-right: auto;
    /* text-align: center;
    position: absolute; */

  }

  th.mat-header-cell {
    text-align: center !important;
  }

  td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}

tr.example-element-row:hover {
  background: rgb(222, 236, 251);
}

tr.example-element-row-choosed {
  background: rgb(132, 176, 223);
}
.not-done{
  border: 1.5px solid slateblue;
}

.container{
  margin: 10px;
  padding: 10px;
  position: relative;
  height: 5000px;
    /* width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px; */
}



.right-table-div{

  max-width: 20%;
  width: fit-content;
  text-align: center;
  position: absolute;

}
.left{
  position: absolute;
  right: 20%;
  padding: 5px;
  min-width: 35%;
}

.lesson-card{
  min-width: 100%;
}

.card,div{
  margin: 1%;

}
.icon-img{
  height: 22px;
  width: 22px;
}

.btn-rounded{
  border: 1px solid rgba(105, 103, 103, 0.452);
}

.lesson-form {
  min-width: 150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  direction: rtl;
}

.example-label{
  text-align: right;
}

.front{
  z-index: 5;
}
.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}


.input-edit{
  border-style: none;
  background: none;
  box-shadow: none;
}

