

<body>
<p-button (click)="allLessons()">back</p-button>

  
  <div class="card">

    <p-tabView [(activeIndex)]="activeIndex2" [scrollable]="true">
        <p-tabPanel  *ngFor="let tab of scrollableTabs;" [header]="tab.title">
         <div>
             <div>
                 <h1 class="display-1">
                     {{tab.content.wordText}}
                 </h1>
             </div>
            
       </div>
        </p-tabPanel>
    </p-tabView>
</div>

<div  *ngIf="activeIndex2>0">
    <button  pRipple class="p-button-rounded p-button-info p-button-text" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"  mat-fab  (click)="activeIndex2=activeIndex2-1" >
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <!-- /<span class="visually-hidden">Next</span> -->
  </button>
</div>

<div  *ngIf="activeIndex2<this.LessonWords.length-1">
   <button  pRipple class="p-button-rounded p-button-info p-button-text"  class="carousel-control-prev" type="button" data-bs-target="#myCarousel"  mat-fab  data-bs-slide="prev" (click)="activeIndex2=activeIndex2+1">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="visually-hidden">Previous</span> -->
  </button>
</div>

</body>