<div class="container">

    <div class="top">
        <h2>מילה <b>{{wordNumber}}</b>/{{allWordsNumber}}</h2>
        <br> <br>
    </div>
    <div class="center">

        <h1 style="font-size: 6rem;" class="display-1">
          {{lessonWord.wordText}}
        </h1> <br>
        <div *ngIf="lessonWord.score">
          <h1 >הציון שלך : {{lessonWord.score}}</h1>
        </div>
        <br>
        <div *ngIf="!lessonIsDone && !isServerRecording">
          <button 
            pButton 
            pRipple 
            type="button" 
            style="background-color: #e2e9ff;color:green;"
            label="התחל הקלטה" 
            class="p-button-sm p-button-rounded p-button-success "
            *ngIf="!isAudioRecording && !audioBlobUrl" 
            (click)="startNewRecord()"
        >
        </button>
        </div>
        <div *ngIf="!lessonIsDone && !isServerRecording">
          <button 
            pButton 
            pRipple 
            type="button" 
            label="עצור הקלטה" 
            style="background-color: #e2e9ff;color:red;"
            class="p-button-sm p-button-rounded p-button-danger"
            *ngIf="isAudioRecording && !audioBlobUrl" 
            (click)="stopNewRecord()">
          </button>

          <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl">
            {{ audioRecordedTime }}
          </div>
        </div>

        <div *ngIf="!isAudioRecording">

          <div *ngIf="audioBlobUrl &&!lessonIsDone && !isServerRecording">
            <button 
              pButton 
              pRipple 
              type="button" 
              label="שמור הקלטה"
              style="background-color: #e2e9ff;color:#4F46E5;"
              class="p-button-sm p-button-rounded p-button-outlined p-button-help"
              (click)="saveNewRecord()">
            </button>
          </div>

          <div class="div-button-center" *ngIf="isNewRecord || isServerRecording">
            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הורד הקלטה"
              (click)="downloadWordRecord()"
              >
              <i class="pi pi-download" style="color: #4F46E5"></i>
            </button>
            
            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הפעל הקלטה"
              (click)="replayWordRecord()"
              >
              <mat-icon style="color: #4F46E5"
                >play_circle_outline</mat-icon
              >
            </button>

            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הקלט מחדש"
              (click)="reRecerdingWordRecord()"
              >
              <i class="pi pi-replay" style="color: #4F46E5"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="bottom">
        <p-button label="הקלטה קלינאית" 
        styleClass="p-button-sm p-button-raised p-button-text p-button-secondary"
        (click)="playSpeechTherapistWordRecord()"></p-button>
        &nbsp;

        <p-button *ngIf="lessonIsDone" label="ההקלטה שלי" 
        styleClass="p-button-sm p-button-raised p-button-text p-button-secondary"
        (click)="playPatientRecord()"></p-button>
    </div>
    
</div>