<div class="container">

    <div class="top">
        <h2>מילה <b>{{wordNumber}}</b>/{{allWordsNumber}}</h2>
        <br> <br>
    </div>


    <div class="center">

        <h1 style="font-size: 6rem;" class="display-1">
          {{lessonWord.wordText}}
        </h1> <br>
        <div *ngIf="lessonWord.score">
          <h1 >הציון שלך : {{lessonWord.score}}</h1>
        </div>
        
        <br>

        <div *ngIf="!lessonIsDone">
          <button 
            pButton 
            pRipple 
            type="button" 
            style="background-color: #e2e9ff;color:green;"
            label="התחל הקלטה" 
            class="p-button-sm p-button-rounded p-button-success "
            *ngIf="!isAudioRecording && !audioBlobUrl" 
            (click)="startAudioRecording()"
        >
        </button>
        </div>
        

        <div *ngIf="!lessonIsDone">
          <button 
            pButton 
            pRipple 
            type="button" 
            label="עצור הקלטה" 
            style="background-color: #e2e9ff;color:red;"
            class="p-button-sm p-button-rounded p-button-danger"
            *ngIf="isAudioRecording && !audioBlobUrl" 
            (click)="stopAudioRecording()">
          </button>

          <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl">
            {{ audioRecordedTime }}
          </div>
        </div>

        <!-- <div *ngIf="!isAudioRecording && audioBlobUrl">
          <audio controls>
            <source [src]="audioBlobUrl" type="audio/mp3" />
          </audio>
          <div class="two-sides div-button-center">
            <button pButton pRipple type="button" class="p-button-outlined p-button-rounded p-button-success"
              (click)="restartAudioRecordedData()">
              הקלטה מחדש
            </button>
            <button pButton pRipple type="button" icon="pi pi-save"
              class="p-button-rounded p-button-success p-button-outlined"
              (click)="saveRecording()"></button>

            <button pButton pRipple type="button" icon="pi pi-download"
              class="p-button-rounded p-button-success p-button-outlined"
              (click)="downloadAudioRecordedData()"></button>
          </div>
        </div> -->

        <div *ngIf="!isAudioRecording && audioBlobUrl">

          <div *ngIf="!lessonIsDone">
            <button 
              pButton 
              pRipple 
              type="button" 
              label="שמור הקלטה"
              style="background-color: #e2e9ff;color:#4F46E5;"
              class="p-button-sm p-button-rounded p-button-outlined p-button-help"
              (click)="saveRecording()">
            </button>
          </div>

          <div class=" div-button-center">

            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הורד הקלטה"
              (click)="downloadAudioRecordedData()"
              >
              <i class="pi pi-download" style="color: #4F46E5"></i>
            </button>
            
            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הפעל הקלטה"
              (click)="restartAudioRecordedData()"
              >
              <mat-icon style="color: #4F46E5"
                >play_circle_outline</mat-icon
              >
            </button>

            <button
              mat-icon-button
              class="bottomleft"
              matTooltip="הקלט מחדש"
              (click)="restartAudioRecordedData()"
              >
              <i class="pi pi-replay" style="color: #4F46E5"></i>
            </button>
          </div>
        </div>
    </div>


    <div class="bottom">
        <p-button label="הקלטה קלינאית" styleClass="p-button-sm p-button-raised p-button-text p-button-secondary"></p-button>
        &nbsp;
        <p-button label="הקלטה פציינט" styleClass="p-button-sm p-button-raised p-button-text p-button-secondary"></p-button>
        <!-- <button mat-button styleClass="p-button-raised p-button-text p-button-secondary">הקלטה קלינאית</button> -->
        <!-- <button mat-button >הקלטה פציינט</button> -->
    </div>
    
</div>