.container{
    text-align: center;
}

.center {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.bottom {
    /* margin-top: 35%; */
    position: fixed;
    top: 70%;
    right: 42%;
}

.record-button {
    size: 4rem;
}