<body>
<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"> -->
    <!-- This is the tree node template for leaf nodes -->
    <!-- <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding> -->
      <!-- use a disabled button to provide padding for tree leaf -->
      <!-- <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node> -->
    <!-- This is the tree node template for expandable nodes -->
    <!-- <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree> -->

  <p-button (click)="loadTree()">tree</p-button>

  <p-button (click)="initValue()">initValue</p-button>

  <p-button (click)="loadLevels()">load</p-button>

  <p-button (click)="all()">all</p-button>

  <div class="field col-12 md:col-3">
  <p-button  icon="pi pi-plus" (click)="op.toggle($event)">הוספת רמה</p-button>
  </div>
 <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
      <ng-template pTemplate>
          <h1>{{selectedProblem.problemName}}</h1>
         
            <div class="field col-12 md:col-3">
              <label for="minmax-buttons">רמת קושי:</label>
              <p-inputNumber #in mode="decimal" [showButtons]="true" inputId="minmax-buttons" [(ngModel)]="initVal"  [min]="1" [max]="50">
              </p-inputNumber>
          </div>
        <div>
          <p-button [disabled]="existLevelName(in.value)" (click)="saveNewLevel(in.value)">שמירה</p-button>
          <div *ngIf="existLevelName(in.value)"> מס הרמה כבר קיים </div>
       </div>   
      </ng-template>
  </p-overlayPanel>

  <div class="field col-12 md:col-3">
    <p-button  icon="pi pi-plus" (click)="op.toggle($event)">הוספת מילה</p-button>
    </div>
    <p-overlayPanel #op2 [showCloseIcon]="true" [style]="{width: '450px'}">
      <ng-template pTemplate>
          <h1>{{selectedProblem.problemName}}</h1>
         
            <div class="field col-12 md:col-3">
              <label for="minmax-buttons">רמת קושי:</label>
              <p-inputNumber #in2 mode="decimal" [showButtons]="true" inputId="minmax-buttons" [(ngModel)]="initVal"  [min]="1" [max]="50">
              </p-inputNumber>
          </div>
        <div>
          <p-button [disabled]="existLevelName(in2.value)" (click)="saveNewLevel(in2.value)">שמירה</p-button>
          <div *ngIf="existLevelName(in2.value)"> מס הרמה כבר קיים </div>
       </div>   
      </ng-template>
  </p-overlayPanel>


 

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field appearance="fill">
        <mat-label>New item...</mat-label>
        <input matInput #itemValue placeholder="Ex. Lettuce">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>
  </mat-tree>

</body>