<body class="bg-light-color">
  <!-- <mat-icon>delete_outline</mat-icon>
 <mat-icon>record_voice_over</mat-icon>
 <mat-icon>open_in_new</mat-icon>
 <mat-icon>delete_forever</mat-icon>
 <mat-icon>arrow_forward_ios</mat-icon>
 <mat-icon>arrow_back_ios</mat-icon>
 <mat-icon>arrow_left</mat-icon>
 <mat-icon>arrow_drop_down</mat-icon>
 <mat-icon>navigate_before</mat-icon>
 <mat-icon>add</mat-icon>
 <mat-icon>add_circle_outline</mat-icon>
 <mat-icon>pause_circle_outline</mat-icon>
 <mat-icon>add_circle_outline</mat-icon>
 <mat-icon>play_circle_outline</mat-icon>
 <mat-icon>play_arrow</mat-icon>
 <mat-icon>mic_off</mat-icon>
 <mat-icon>mic</mat-icon>
 <mat-icon>record_voice_over</mat-icon>
 <mat-icon>chevron_right</mat-icon>
 <mat-icon>chevron_left</mat-icon>
 <mat-icon>arrow_right</mat-icon>
 <mat-icon>arrow_left</mat-icon>
 <mat-icon>keyboard_arrow_right</mat-icon>
 <mat-icon>keyboard_arrow_left</mat-icon>
 <mat-icon>create_new_folder</mat-icon>
 <mat-icon>edit</mat-icon>
 <mat-icon>voice_over_off</mat-icon> -->

  <ul>
    <li *ngFor="let problem of this.problemsArr; let problemIndex = index">
      <mat-card class="problem">
        <div class="icons-container">
          <span class="center">{{ problem.ProblemName }}</span>
          <span class="bottomleft">
            <button
              mat-icon-button
              (click)="
                loadLevels(problemIndex);
                problem.showLevels = !problem.showLevels
              "
            >
              <mat-icon *ngIf="!problem.showLevels"
                >keyboard_arrow_left</mat-icon
              >
              <mat-icon *ngIf="problem.showLevels"
                >keyboard_arrow_right</mat-icon
              >
            </button></span
          >
        </div>
      </mat-card>
      <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '450px' }">
        <ng-template pTemplate>
          <span class="label label-info">
            הוספת רמה לבעיה {{ problemsArr[problemIndex].ProblemName }}</span
          >

          <div class="field col-12 md:col-3">
            <label for="minmax-buttons">רמת קושי:</label>
            <p-inputNumber
              #in
              mode="decimal"
              [showButtons]="true"
              inputId="minmax-buttons"
              [(ngModel)]="initVal"
              [min]="1"
              [max]="50"
            >
            </p-inputNumber>
          </div>
          <div>
            <p-button
              [disabled]="existLevelName(problemIndex, in.value)"
              (click)="saveNewLevel(problemIndex); op.hide()"
              >שמירה</p-button
            >
            <div *ngIf="existLevelName(problemIndex, in.value)">
              מס הרמה כבר קיים
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>

      <ul *ngIf="problem.showLevels" class="levels-container">
        <div class="field col-12 md:col-3">
          <button
            mat-stroked-button
            (click)="op.toggle($event)"
            class="btn-add-level"
          >
            <mat-icon>add</mat-icon>
          </button>
          <label>הוסף רמה</label>
        </div>
        <li *ngFor="let level of problem.Levels; let levelIndex = index">
          <p-overlayPanel
            #opEdit
            [showCloseIcon]="true"
            [style]="{ width: '450px' }"
          >
            <ng-template pTemplate>
              <span class="label label-info">
                עריכת רמה לבעיה
                {{ problemsArr[problemIndex].ProblemName }}</span
              >

              <div class="field col-12 md:col-3">
                <label for="minmax-buttons">רמת קושי:</label>
                <p-inputNumber
                  #inEdit
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttons"
                  [(ngModel)]="currentLevelVal"
                  [min]="1"
                  [max]="50"
                >
                </p-inputNumber>
              </div>
              <div>
                <p-button
                  [disabled]="existLevelName(problemIndex, inEdit.value)"
                  (click)="updateLevel(problemIndex, levelIndex); opEdit.hide()"
                  >שמירה</p-button
                >
                <div *ngIf="existLevelName(problemIndex, inEdit.value)">
                  מס הרמה כבר קיים
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

          <mat-card class="level">
            <mat-card-content>
              <div class="icons-container">
                <span class="center"> רמה {{ level.difficultyLevel }}</span>

                <span class="bottomright">
                  <button
                    mat-icon-button
                    (click)="confirmLevelDelete(levelIndex, problemIndex)"
                    matTooltip="מחיקת רמה"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="ערכת רמה"
                    (click)="
                      currentLevelVal =
                        problemsArr[problemIndex].Levels[levelIndex]
                          .difficultyLevel;
                      opEdit.toggle($event)
                    "
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </span>
                <span class="bottomleft">
                  <button
                    mat-icon-button
                    (click)="
                      loadWords(levelIndex, problemIndex);
                      level.showWords = !level.showWords
                    "
                  >
                    <mat-icon class="text-main-color" *ngIf="!level.showWords"
                      >keyboard_arrow_left</mat-icon
                    >
                    <mat-icon class="text-main-color" *ngIf="level.showWords"
                      >keyboard_arrow_right</mat-icon
                    >
                  </button></span
                >
              </div>
            </mat-card-content>
          </mat-card>

          <!-- חלונית נפתחת הוספת מילה -->
          <p-overlayPanel
            #op2
            [showCloseIcon]="true"
            [style]="{ width: '450px' }"
          >
            <ng-template pTemplate>
              <span class="label label-info">
                הוספת מילה לבעיה
                {{ problemsArr[problemIndex].ProblemName }}</span
              >
              <h4>
                רמת קושי: &nbsp;{{
                  problemsArr[problemIndex].Levels[levelIndex].difficultyLevel
                }}
              </h4>
              <input
                placeholder="המילה שלך כאן"
                id="float-input"
                type="text"
                pInputText
                [(ngModel)]="wordText"
              />
              <br /><br />
              <div class="div-button-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="התחל הקלטה"
                  class="p-button-rounded bg-light-color text-main-color"
                  *ngIf="!isAudioRecording && !audioBlobUrl"
                  (click)="startAudioRecording()"
                ></button>
              </div>
              <div class="div-button-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="עצור הקלטה"
                  class="p-button-rounded p-button-danger"
                  *ngIf="isAudioRecording && !audioBlobUrl"
                  (click)="stopAudioRecording()"
                ></button>

                <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl">
                  {{ audioRecordedTime }}
                </div>
              </div>
              <div
                *ngIf="!isAudioRecording && audioBlobUrl"
                class="div-button-center"
              >
                <audio *ngIf="!isAudioRecording && audioBlobUrl" controls>
                  <source [src]="audioBlobUrl" type="audio/mp3" />
                </audio>
                <div>
                  <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-outlined p-button-rounded bg-light-color"
                    (click)="restartAudioRecordedData()"
                  >
                    הקלטה מחדש
                  </button>
                  &nbsp;
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-download"
                    class="p-button-rounded bg-light-color p-button-outlined"
                    (click)="downloadAudioRecordedData()"
                  ></button>
                </div>
              </div>
              <br />
              <div>
                <p-button
                  (click)="saveWord(levelIndex, problemIndex); op2.hide()"
                  >שמירה</p-button
                >
              </div>
            </ng-template>
          </p-overlayPanel>

          <ul *ngIf="level.showWords" class="words-container">
            <button
              mat-stroked-button
              (click)="op2.toggle($event)"
              class="btn-add-word"
            >
              <mat-icon>add</mat-icon>
            </button>
            <label>הוסף מילה</label>

            <!-- חלונית נפתחת עריכת מילה -->
            <p-overlayPanel
              #opEdit2
              [showCloseIcon]="true"
              [style]="{ width: '450px' }"
            >
              <ng-template pTemplate>
                <div class="container">
                  <span class="label label-info">עריכת הקלטה </span>
                  <span class="label label-info"
                    >עבור הבעיה
                    {{ problemsArr[problemIndex].ProblemName }}</span
                  >
                  <br>
                  <div class="label label-info">
                    רמת קושי: &nbsp;{{
                      problemsArr[problemIndex].Levels[levelIndex]
                        .difficultyLevel
                    }}
                  </div>
                  <br>
                  <div class="label label-info">
                    <b>{{ wordToEdit.wordText }}</b>
                  </div>
                  <div class="div-button-center"></div>
                  <div class="div-button-center">
                    <button
                      mat-icon-button
                      label="עצור הקלטה"
                      *ngIf="isAudioRecording && !audioBlobUrl"
                      (click)="stopAudioRecording()"
                    >
                      עצור הקלטה
                    </button>
                  </div>

                  <div class="div-button-center">
                    <div *ngIf="!isAudioRecording">
                      <button
                        mat-icon-button
                        label=" הקלטה מחדש"
                        (click)="restartAudioRecordedData()"
                      >
                        <mat-icon>record_voice_over</mat-icon>
                      </button>
                    </div>
                    <div *ngIf="!isAudioRecording">
                      <button
                        mat-icon-button
                        (click)="playWordRecord(wordToEdit)"
                      >
                        <mat-icon>play_circle_outline</mat-icon>
                        הקלטה ישנה
                      </button>
                    </div>
                    <div *ngIf="!isAudioRecording && audioBlobUrl">
                      <button mat-icon-button (click)="playNewWordRecord()">
                        <mat-icon>play_circle_outline</mat-icon>
                        הקלטה חדשה
                      </button>
                    </div>
                  </div>

                  <div class="two-sides">
                    <p-button (click)="opEdit2.hide()">ביטול</p-button>
                    <p-button
                      [disabled]="!audioBlobUrl"
                      (click)="
                        updateWord(levelIndex, problemIndex); opEdit2.hide()
                      "
                      >אישור
                    </p-button>
                  </div>
                </div>
              </ng-template>
            </p-overlayPanel>

            <li *ngFor="let word of level.words; let wordIndex = index">
              <mat-card class="word">
                <div class="icons-container">
                  <span>
                    <button
                      mat-icon-button
                      class="bottomleft"
                      matTooltip="הפעל"
                      (click)="
                        playWordRecord(
                          problemsArr[problemIndex].Levels[levelIndex].words[
                            wordIndex
                          ]
                        )
                      "
                    >
                      <mat-icon style="color: #a97bbb"
                        >play_circle_outline</mat-icon
                      >
                    </button>
                  </span>
                  <span class="center">{{ word.wordText }}</span>
                  <span class="bottomright">
                    <button
                      mat-icon-button
                      matTooltip="מחיקת מילה"
                      (click)="
                        confirmWordDelete(wordIndex, levelIndex, problemIndex)
                      "
                    >
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      matTooltip="עריכת הקלטה"
                      (click)="
                        wordToEdit =
                          problemsArr[problemIndex].Levels[levelIndex].words[
                            wordIndex
                          ];
                        opEdit2.toggle($event)
                      "
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </span>

                  <div class="bottomleft"></div>
                </div>
              </mat-card>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  >
  </p-confirmDialog>
</body>
