
.btn-add-level{
  border: 2.5px solid  #4F46E5;
}

.btn-add-word{
  border: 2.5px solid #a97bbb;
}

.problem
{
  text-align: center;
  color:  #110d4d;
  background-color: rgb(247, 247, 247);
  width: 380px;
  height: 10px;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  border-right: 4.5px solid #110d4d;

padding: 3%;
}
.level
{
  object-fit: cover;
  background-color: rgb(247, 247, 247);
  width: 380px;
  text-align: center;
  border-right: 4.5px solid#4F46E5;
  margin-top: 5px;
}
.word
{
  background-color: rgb(247, 247, 247);
  width: 380px;
  text-align: center;
  border-right: 4.5px solid #a97bbb;
  margin-top: 5px;
}
.levels-container
{
  margin-left: auto;
  margin-right: 380px;
  margin-top: -70px;
}
.words-container
{
  margin-top: -50px;
  margin-left: auto;
  margin-right:380px;
}
ul,li{
  list-style: none;
  align-items: flex-start;
}

.bottomright {
  position: absolute;
  bottom: 12px;
  right: 16px;
  font-size: 18px;
}

/* .icons-container
{
  position:absolute;
} */


.bottomleft {
  position: absolute;
  bottom: 14px;
  left: 16px;
  font-size: 18px;
}

.center {

  bottom: 8px;
  text-align: center;
  font-size: 24px;
 font-weight: bold;
}
.container{
  padding: 10px;
  margin: 10px;

}

.div-button-center{
  align-items: center;
}
