<body>
<form [formGroup]="loginForm" class="example-form">
    <h1 >ברוכים הבאים</h1>


    
<span class="p-float-label">
  <input formControlName="email" type="text" pInputText class="p-inputtext-lg"  placeholder="שם משתמש" >  
  <label for="float-input">שם משתמש</label>
  <small *ngIf="isErrorState(,loginForm)" id="username1-help" class="block">Enter your username to reset your password.</small>
</span>



    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>שם משתמש</mat-label>
        <input formControlName="email"  matInput placeholder="User name" [errorStateMatcher]="matcher">
        <mat-error >
          <!-- *ngIf="loginForm.hasError('required')" -->
            שם משתמש <strong>חובה</strong>
          </mat-error>
      </mat-form-field>
      <br><br>

      <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>סיסמה</mat-label>
        <input matInput [type]="hide ? 'password':'text'" formControlName="password" matInput placeholder="Password" [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error >
          <!-- *ngIf="loginForm.hasError('required')" -->
            הכנס סיסמה באורך של לפחות 8 תווים
          </mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button (click)="getUserDetails()"  [disabled]="!loginForm.valid">היכנס</button>


  </form>
</body>
