/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/tailwind-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;

}



.bg-img{
  background: url("/assets/pictures/bg.jpg") no-repeat;
  background-size:cover
}

.card-content {
  padding: 10px;
}

.two-sides {
  display: flex;
  justify-content: space-between;
}

.input-width {
  width: 270px;
}

.text-main-color {
  color: #4F46E5;
}
.text-light-color {
  color: #e2e9ff;
}
.bg-main-color {
  background-color: #4F46E5;
}
.bg-light-color {
  background-color: #e2e9ff;
}
.border-main-color {
  border-color: rgb(79, 70, 229);
}

.bg-exercise-page {
  /* background-image: url('"../../assets/pictures/exercise-bg.png'); */
  background-image: url('"../../assets/pictures/bg-ex-3.png');
  background-repeat:no-repeat;
  background-size:cover;
}

/* *{
  opacity: 100;
} */