/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/tailwind-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  background-image: url("/assets/pictures/bg.jpg");
  background-size: cover;
}

.two-sides {
  display: flex;
  justify-content: space-between;
}

.input-width {
  width: 100px;
}

.text-main-color {
  color: #4F46E5;
}
.bg-main-color {
  background-color: #4F46E5;
}
.border-main-color {
  border-color: rgb(79, 70, 229);
}